* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  color: #fff;
  height: 100%;
}

/* NAVBAR*/

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.logo {
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
}

.logo span {
  font-weight: normal;
  font-size: 16px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #d3d3d3;
}